body {

    margin: 0;
    background-color: whitesmoke;
}


.img1 {

    margin-left: auto;
    border-radius: 25px;
    margin-top: 15px;
}


#nav,
#about,
#exp-section {

    background-color: blanchedalmond;
}

#language-changer {

    margin: 10px;
}

h1 {
    margin-top: 50px;
}

#quote {

    margin-top: 20px;
}

#email-button {

    margin-top: 50px;
}

#social-media-links {

    margin-top: 75px;
}

h3,
h4 {

    color: #4A4A4A;
}

#skills-title {

    display: flex;
    justify-content: left;
    margin-left: 30px;
}

#quote2 {

    margin-top: 120px;
    margin-bottom: 50px;
}

div.footer {

    background-color: blanchedalmond;
    bottom: 0;
}

footer {
    margin-top: 8px;
}